<h1 class="title">Sign In</h1>

<div class="box mx-12">
  <%= form_for :session do |f| %>
    <div class="field">
      <%= f.label :email, {class: 'label'} %>
      <%= f.email_field :email, {class: 'input', required: true} %>
    </div>

    <div class="field">
      <%= f.label :password, {class: 'label'} %>
      <%= f.password_field :password, {class: 'input', required: true, minlength: 12} %>
    </div>


    <%= f.submit 'Sign in', {class: 'button is-primary is-fullwidth'} %>
  <% end %>
</div>