<h1 class="title">Create an Account</h1>

<div class="box mx-7">
  <%= form_for @user, method: :post, url: '/users' do |f| %>
    <div class="field">
      <%= f.label :first_name, {class: 'label'} %>
      <%= f.text_field :first_name,  {class: 'input', required: true} %>
    </div>

    <div class="field">
      <%= f.label :last_name, {class: 'label'} %>
      <%= f.text_field :last_name, {class: 'input', required: true} %>
    </div>

    <div class="field">
      <%= f.label :email, {class: 'label'} %>
      <%= f.email_field :email, {class: 'input', required: true} %>
    </div>

    <div class="field">
      <%= f.label :password, {class: 'label'} %>
      <%= f.password_field :password, {class: 'input', required: true, minlength: 12} %>
    </div>

    <div class="field">
      <%= f.label :password_confirm, {class: 'label'} %>
      <%= f.password_field :password_confirm, {class: 'input', required: true, minlength: 12} %>
    </div>

    <%= f.submit 'Create Account', {class: 'button is-primary is-fullwidth'} %>
  <% end %>
</div>