<% if alert %>
  <article class="message is-warning">
    <div class="message-header">
      <p>Nice!</p>
    </div>
    <div class="message-body">
      <%= alert %>
    </div>
  </article>
<% elsif notice %>
  <article class="message is-primary">
    <div class="message-header">
      <p>Whoops</p>
    </div>
    <div class="message-body">
      <%= notice %>
    </div>
  </article>
<% end %>