<% if !current_user %>
<div class="container mx-8">
  <div class="box has-background-primary has-text-centered">
    <h3 class="subtitle has-text-dark">Features</h3>
    <p>Free 100$ Credit as soon as you open an account</p>
    <p>Send money to anybody anywhere (as long as they have an account here!)</p>
    <p>See a history of your sent and received cash moneys!</p>
  </div>

  <div class="mx-6 box has-background-primary-light  has-text-centered">
    <p class="subtitle has-text-dark">What are you waiting for?</p>
    <%= link_to 'Create Your Account', new_user_path, { class: 'button is-warning' } %>
    <%= link_to 'Sign In', login_path, { class: 'button is-ghost' } %>
  </div>
</div>
<% else %>
  <div class="container mx-8">
    <div class="box has-background-primary has-text-centered">
      <h3 class="title has-text-dark">Your Balance is <%= current_user.balance %> $</h3>
    </div>

    <div class="buttons is-centered">
      <%= link_to 'Send money to your friends!', transfers_home_path , { class: 'button is-primary'} %>
      <%= link_to  'Pay yo bills!', transfers_home_path, { class: 'button is-warning'} %>
    </div>

  </div>
<% end %>