<div class="container mx-6">
  <div class="box has-background-primary has-text-centered">
    <h3 class="subtitle has-text-dark">Your Balance is <%= current_user.balance %> $</h3>
  </div>

  <div class="columns">
    <div class="column">
      <h1 class="subtitle">Send Money</h1>
      <table class="table">
        <tr>
        <th colspan="2">Your Friend</th>
        <th>Amount</th>
        <th></th>
        </tr>
        <% @friends.each do |friend| %>
          <%= form_for :transaction, url: transfers_send_money_url, method: :post do |f| %>
            <%= f.hidden_field :from_id, value: current_user.account.id %>
            <%= f.hidden_field :from_type, value: 'Account' %>
            <%= f.hidden_field :to_type, value: 'Account' %>
            <%= f.hidden_field :to_id, value: friend.account.id %>
            <tr>
              <td><%= friend.first_name %></td>
              <td><%= friend.last_name %></td>
              <td><%= f.number_field :amount, {class: 'input', required: true, min: 1, max: current_user.balance }%></td>
              <td><%= f.submit 'Send', {class: 'button'}%></td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
    <div class="column">
      <h1 class="subtitle">Pay Bills</h1>
      <table class="table">
        <tr>
        <th colspan="1">Your Bill</th>
        <th>Amount</th>
        <th></th>
        </tr>
        <% @debitors.each do |debitor| %>
          <%= form_for :transaction, url: transfers_send_money_url, method: :post do |f| %>
            <%= f.hidden_field :from_id, value: current_user.account.id %>
            <%= f.hidden_field :from_type, value: 'Account' %>
            <%= f.hidden_field :to_type, value: 'Debitor' %>
            <%= f.hidden_field :to_id, value: debitor.id %>
            <tr>
              <td><%= debitor.name %></td>
              <td><%= f.number_field :amount, {class: 'input', required: true, min: 1, max: current_user.balance }%></td>
              <td><%= f.submit 'Pay', {class: 'button'}%></td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <h1 class="subtitle">List of Incomes</h1>
      <table class="table">
        <tr>
          <th>Your Incomes</th>
          <th>Amount</th>
        </tr>
        <% @received_txs.each do |tx| %>
          <tr>
            <td><%= tx.from.name %></td>
            <td><%= tx.amount %><td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="column">
      <h1 class="subtitle">List of Expenses</h1>
      <table class="table">
        <tr>
          <th>Your Expenses</th>
          <th>Amount</th>
        </tr>
        <% @sent_txs.each do |tx| %>
          <tr>
            <td><%= tx.to.name %></td>
            <td><%= tx.amount %><td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
